/* Box-sizing all elements */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --fw-reg: 300;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-dark: #303030;
    --clr-accent: hwb(96 0% 24%);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 2em 2em 2em rgba(0,0,0,0.25)
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #010203;
    color: #ffffff;
}
.Home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}
.About_container {
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    top: 20px;
    right: 20px;
}
.logo img {
    width: 80px; /* Adjust this value as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 15px;
}

.navbar {
    position: absolute;
    top: 20px;
    right: 20px;
}
.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    position: relative;
}
.navbar a:hover::after,
.navbar a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: hwb(96 0% 24%);
    position: absolute;
    bottom: -5px;
    left: 0;
}
.profile-pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    border: 5px solid hwb(96 0% 24%);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: cover;
    margin: 20px;
}
.intro {
    font-size: 36px;
    font-weight: 700;
    background: linear-gradient(90deg, #ff00ff, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 4s steps(30, end) forwards;
    margin: 20px;
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

.subtext {
    font-size: 28px;
    margin: 20px;
}
.social-icons a {
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
}

h1 {
    color: #00c174;
    font-size: 100px;
    font-weight: bold;
}
p {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 800px;
}
.resume-button {
    display: inline-block;
    background: linear-gradient(90deg, #00ff99, #0066ff);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
}
.Tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    margin-top: 10px;

}
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    margin-top: 50px;
}
.skills div {
    text-align: center;
    margin: 5px;
}
.skills img {
    width: 50px;
    height: 50px;
}
.skills p {
    margin-top: 10px;
    font-size: 1em;
}
.footer {
    text-align: left;
    margin-top: 50px;
    padding: 20px;
    border-top: 1px solid #00ff99;
}
.footer p {
    margin: 0;
}
h2 {
    color: #ff66cc;
    font-size: 40px;
    align-items: center;
}
.footer .social-icons {
    margin-top: 10px;
}
.footer .social-icons a {
    color: #e0e0e0;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
    align-items:self-end;
}
.footer .social-icons a:hover {
    color: #00ff99;
}
.section-title {
    color: #ff66cc;
    font-size: 2.5em;
    font-weight: bold;
    text-align: right;
}
